@font-face {
    font-family: public-sans;
    src: url(PublicSans-Italic-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: 'public-sans';
}

.wrapper {
    background-color: #EAEAEA;
    height: fit-content;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #231F20;
    padding: 6px;
    position: sticky;
    top: -1px;
    z-index: 1;
}

.header a {
    text-decoration: none;
    color:#EAEAEA;
    transition: text-shadow .1s ease;
}

.header a:hover {
    text-shadow: 0px 0px 6px #EAEAEA;
}

ul {
    list-style: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin-left: 12px;

    align-self: center;
}

li {
    display: inline;
    padding: 10px;
    transition: all .2s ease;
}


li + li {
    margin-left: -2%;
}

li:hover {
    background-color: #EAEAEA;
}

li:hover a {
    color:#231F20;
}

.nav {
    display: flex;
}

.logo {
    width: 100%;
    transition: width .1s ease;
}

.home-link {
    overflow: hidden;
    min-width: 0;
    min-height: fit-content;
    font-size: 1vw;
    transition: min-width .2s ease;
    margin-left: 15%;
    align-self: center;
    color: #EAEAEA;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo:hover {
    animation: rotate 3s infinite linear;
    cursor: pointer;
}

.home {
    display: flex;
    width: 4%;
}

.logo:hover + .home-link {
    min-width: 100px;
    transition: min-width .5s ease;
}


.headline {
    width: 60%;
    height: 30vw;
    margin: 0 auto;
    margin-top: 6px;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;

    background-position-y: 50%;
    background-size: cover;
    transition: all .5s ease;
}

.info {
display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1.5fr;
    width: 100%;
    height: 75vw;
}

.info h1 {
    color: white;
    width: fit-content;
    grid-row: 3/5;
    grid-column: 1/3;
    margin-top: -10%;
    margin-left: 51%;
    font-size: 2vw;
}

.info p {
    width: fit-content;
    height: fit-content;
    
    font-size: 1.5vw;
    margin-top: -7%;
    padding: 6px;
    grid-column: 4/6;
    grid-row: 3/5;

    color: wheat;
    text-shadow: 2px 2px 1px black;
    background-color: #0000007d;

    border-radius: 4%;
    margin-right: 5%;
    margin-left: 10%;
}

.artists {
    display: flex;
    width: 100%;
    border-top: 6px;
}


span {
    color: white;
    position: absolute;
    top: 73%;
    width: 100%;
    background: #0000003d;
    font-size: .85vw;
    padding-left: 3px;
    height: 100%;
    text-shadow: 1px 1px 1px black;
}

.test {
    position: relative;
    border-top: solid white 6px;
    overflow: hidden;
}

.test img {
    filter:brightness(100%)
}

.test + .test {
    border-left: solid white 6px;
}

.test img {
    filter: brightness(100%);
    width: 100%;
}

.test img:hover {
    
    filter: brightness(40%);
    transition: filter .3s ease-in;
    cursor: pointer;
}

.wrapper:nth-child(2n + 1) {
    background-color: white;
}

.headline ~ div {
    height: fit-content;
    width: 60%;
    margin: 0 auto;
    margin-top: 2%;
}

h1 {
    color: black;
    margin-left: 5%;
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container img {
    width: 35%;
}

.about-text {
    opacity: 0;
    padding-bottom: 3%;
    border-bottom: solid black 1px;
    transform: translateY(100px);
    transition: .75s all
}

.about-appear {
    opacity: 1;
    transform: translateY(0px);
}

.about-text p {
    width: 37%;
    height: fit-content;
    align-self: center;
    font-size: 1vw;

    padding-right: 7%;
}

.nuclear-studios-text {
    opacity: 0;
    padding-bottom: 3%;
    transform: translateY(100px);
    transition: .75s all
}

.nuclear-studios-appear {
    opacity: 1;
    transform: translateY(0px);
}

.nuclear-studios h1 {
    text-align: right;
    position: relative;
    left: -6%;
}

.nuclear-studios-text p {
    width: 37%;
    height: fit-content;
    align-self: center;
    font-size: 1vw;

    padding-left: 7%;
}

#footer {
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #231F20;
    color: #EAEAEA;
    padding-top: 11px;
}

.socials {
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.socials img {
    height: fit-content;
    width: 8%;
    transition: width .25s ease-in;
}

.socials img:hover {
    width: 10%;
    cursor: pointer;
}

.picture-one {
    width: 47%;
    height: 35vw;
    background-image: url(images/band.jpg);
    background-size: cover;
    background-position-x: 37%;
}

.picture-two {
    width: 47%;
    height: 35vw;
    background-image: url(images/studio2.jpg);
    background-size: cover;
    background-position-x: 37%;
}

@media only screen and (max-width: 1279px)  {

    .header {
        display: flex;
        justify-content: space-between;
        background-color: #231F20;
        padding: 6px;
        position: sticky;
        top: 0px;
        z-index: 1;
    }

    .home {
        display: flex;
        width: 16%;
    }

    .logo {
        width: 100%;
        transition: width .1s ease;
    }

    
    .logo:hover + .home-link {
        min-width: 141px;
        transition: min-width .5s ease;
    }

    .home-link {
        overflow: hidden;
        min-width: 0;
        min-height: fit-content;
        font-size: 4vw;
        transition: min-width .2s ease;
        margin-left: 15%;
        align-self: center;
        color: #EAEAEA;
    }

    ul {
        list-style: none;
        width: fit-content;
        height: fit-content;
        padding: 0;
        margin-left: 12px;
        align-self: center;
        font-size: 4vw;
    }

    li {
        display: inline;
        padding: 1vw;
        transition: all .2s ease;
    }

    li + li {
        margin-left: 0
    }

    .headline {
        height: 50vw;
        width: 95%;
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
        background-position-y: 50%;
        background-size: cover;
        transition: all .5s ease;
    }

    .info h1 {
        color: white;
        width: fit-content;
        grid-row: 3/5;
        grid-column: 1/3;
        margin-top: -10%;
        font-size: 5vw;
        margin-left: 5%;
    }

    .info {
        height: 75%;
    }
    
    .info p {
        width: fit-content;
        height: fit-content;
        font-size: 5vw;
        margin-top: -7%;
        padding: 6px;
        grid-column: 4/6;
        grid-row: 3/5;
        color: wheat;
        text-shadow: 2px 2px 1px black;
        background-color: #0000007d;
        border-radius: 4%;
        margin-right: 5%;
        margin-left: 10%;
    }

    .test {
        position: relative;
        border-top: solid white 2px;
        overflow: hidden;
    }

    .test + .test {
        border-left: solid white 2px;
    }

    span {
        color: white;
        position: absolute;
        top: 15%;
        width: 0;
        font-size: 2.5vw;
        padding-left: 3px;
        text-shadow: 1px 1px 1px black;
    }

    .headline ~ div {
        height: fit-content;
        width: 95%;
        margin: 0 auto;
        margin-top: 2%;
    }

    .container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
    }

    h1 {
        color: black;
        margin-bottom: 0;
        margin-left: 0;
    }

    .picture-one {
        background-image: url(images/band.jpg);
        width: 100%;
        height: 25vw;
        background-size: cover;
        background-position-y: 50%;
    }

    .picture-two {
        background-image: url(images/studio2.jpg);
        width: 100%;
        height: 25vw;
        background-size: cover;
        background-position-y: 50%;
    }

    .about-text p {
        height: fit-content;
        align-self: center;
        font-size: calc(2vw + 30.8%);
        width: 100%;
        padding: 0;
        }

    .nuclear-studios-text p {
        height: fit-content;
        align-self: center;
        font-size: calc(2vw + 41.8%);
        width: 100%;
        padding: 0;
        }

    .nuclear-studios-text {
        align-self: center;
        font-size: 3.5vw;
        width: 100%;
        padding-bottom: 2%;
        flex-direction: column-reverse;
    }

    .nuclear-studios h1 {
        left: 0;
    }

    #footer {
        height: fit-content;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #231F20;
        color: #EAEAEA;
        padding-top: 11px;
    }

    .socials {
        width: 70%;
        height: 30px;
        display: flex;
        justify-content: space-evenly;
    }

    .legal p {
            text-align: center;
            font-size: 3vw;
    }
}
